<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockBreak.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03FFDEDA1C733A9700310017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FFDEF31C733A9700310017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03FFDEFE1C733A9700310017</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
